<div class="field" >
	<%= f.select :dil_adi, ["Seçiniz","İngilizce","Arapça","Fransızca","Devamı gelicek"]%><br/>
</div>
<div class="field" id="soyadboydil" >
	<%= f.select :dil_seviye, ["Seçiniz","Başlangıç","Orta","İyi","Çok iyi"]%><br />
	
</div>

