
<div class="field" >
    <%= f.label "Proje Adı" %>
	<%= f.text_field :proje_adi, :class => "boy"%><br/>
</div>
<div class="field" id="soyadboy3">
    <%= f.label "Projenin Bulunduğu Sitesi" %>
	<%= f.text_field :site, :class => "boy" %><br />
</div>

