<div class="field" >
    <%= f.label "Kurs Adı" %>
	<%= f.text_field :kurs, :class => "boy"%><br/>
</div>
<div class="field" id="soyadboy3">
    <%= f.label "Alınan sertifika" %>
	<%= f.text_field :sertifika_adi, :class => "boy" %><br />
</div>
